.side-header #logo img {height: auto;}
            
            #content {
                /* Prevent vertical gaps */
                line-height: 0;
                
                -webkit-column-count: 5;
                -webkit-column-gap:   0px;
                -moz-column-count:    5;
                -moz-column-gap:      0px;
                column-count:         5;
                column-gap:           0px;  
            }

            #content img {
                /* Just in case there are inline attributes */
                width: 100% !important;
                height: auto !important;
                padding: 5px;
            }
            

            /* The Modal (background) */
            .modal {
            display: none;
            position: fixed;
            z-index: 1;
            padding-top: 100px;
            left: 250px;
            top: 0;
            width: 83%;
            max-width: 100%;
            height: 100%;
            overflow: auto;
            background-color: black;
            }

            /* Modal Content */
            .modal-content {
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            width: 90%;
            height: 90%;
            max-width: 1200px;
            }

            /* The Close Button */
            .close {
            color: white;
            position: absolute;
            top: 10px;
            right: 25px;
            font-size: 35px;
            font-weight: bold;
            }

            .close:hover,
            .close:focus {
            color: #999;
            text-decoration: none;
            cursor: pointer;
            }

            /* Hide the slides by default */
            .mySlides {
                display: none;
                text-align: center;
                margin: auto;
            }

            /* Next & previous buttons */
            .prev,
            .next {
                cursor: pointer;
                position: absolute;
                top: 50%;
                width: auto;
                padding: 16px;
                margin-top: -50px;
                color: rgb(0, 0, 0);
                font-weight: bold;
                font-size: 20px;
                transition: 0.6s ease;
                border-radius: 0 3px 3px 0;
                user-select: none;
                -webkit-user-select: none;
            }

            /* Position the "next button" to the right */
            .next {
                right: 0;
                border-radius: 3px 0 0 3px;
            }

            /* On hover, add a black background color with a little bit see-through */
            .prev:hover,
            .next:hover {
				background-color: rgba(209, 209, 209, 0.8);
				
            }

            /* Number text (1/3 etc) */
            .numbertext {
                color: #f2f2f2;
                font-size: 12px;
                padding: 8px 12px;
                position: absolute;
                top: 0;
            }

            /* Caption text */
            .caption-container {
                text-align: center;
                background-color: black;
                padding: 2px 16px;
                color: white;
            }

            img.hover-shadow {
                transition: 0.3s;
			}
			img:hover {
				cursor: pointer;
			}

            .hover-shadow:hover {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }

            #content .imgContent {
                position: relative;
                vertical-align: bottom;
            }

            #content a span {
                display: none;
                position: absolute;
                bottom: 0;
                left:0;
                width: 100%;
                height: auto;
                padding: 20px;
                padding-bottom: 40px;
                font-size: 1vw;
                background: rgba(255,255,255,.8);
                word-wrap: normal;
                
            }

            #content a:hover span {
                display: block
            }

            article, aside, figcaption, figure, header, hgroup, main, nav, section {
                display: block;
            }

            @media (max-width: 1200px) {
                #content {
                    -moz-column-count:    4;
                    -webkit-column-count: 4;
                    column-count:         4;
                }
            }
            @media (max-width: 1000px) {
                #content {
                    -moz-column-count:    2;
                    -webkit-column-count: 2;
                    column-count:         2;
                }
                .modal{
                    left: 0;
                    width: 100%;
                }
            }
            @media (max-width: 800px) {
                #content {
                    -moz-column-count:    2;
                    -webkit-column-count: 2;
                    column-count:         2;
                }
                .modal{
                    left: 0;
                    width: 100%;
                }
            }
            @media (max-width: 400px) {
                #content {
                    -moz-column-count:    1;
                    -webkit-column-count: 1;
                    column-count:         1;
                }
                .modal{
                    left: 0;
                    width: 100%;
                }
            }

/*Family Guy Style*/
.side-header #logo img {height: auto;}
            
            #content {
                /* Prevent vertical gaps */
                line-height: 0;
                
                -webkit-column-count: 5;
                -webkit-column-gap:   0px;
                -moz-column-count:    5;
                -moz-column-gap:      0px;
                column-count:         5;
                column-gap:           0px;  
            }

            #content img {
                /* Just in case there are inline attributes */
                width: 100% !important;
                height: auto !important;
                padding: 5px;
            }
            

            /* The Modal (background) */
            .modal {
            display: none;
            position: fixed;
            z-index: 1;
            padding-top: 100px;
            left: 250px;
            top: 0;
            width: 83%;
            max-width: 100%;
            height: 100%;
            overflow: auto;
            background-color: black;
            }

            /* Modal Content */
            .modal-content {
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            width: 90%;
            height: 90%;
            max-width: 1200px;
            }

            /* The Close Button */
            .close {
            color: white;
            position: absolute;
            top: 10px;
            right: 25px;
            font-size: 35px;
            font-weight: bold;
            }

            .close:hover,
            .close:focus {
            color: #999;
            text-decoration: none;
            cursor: pointer;
            }

            /* Hide the slides by default */
            .mySlides {
                display: none;
                text-align: center;
                margin: auto;
            }

            /* Next & previous buttons */
            .prev,
            .next {
                cursor: pointer;
                position: absolute;
                top: 50%;
                width: auto;
                padding: 16px;
                margin-top: -50px;
                color: white;
                font-weight: bold;
                font-size: 20px;
                transition: 0.6s ease;
                border-radius: 0 3px 3px 0;
                user-select: none;
                -webkit-user-select: none;
            }

            /* Position the "next button" to the right */
            .next {
                right: 0;
                border-radius: 3px 0 0 3px;
            }

            /* On hover, add a black background color with a little bit see-through */
            .prev:hover,
            .next:hover {
                background-color: rgba(0, 0, 0, 0.8);
            }

            /* Number text (1/3 etc) */
            .numbertext {
                color: #f2f2f2;
                font-size: 12px;
                padding: 8px 12px;
                position: absolute;
                top: 0;
            }

            /* Caption text */
            .caption-container {
                text-align: center;
                background-color: black;
                padding: 2px 16px;
                color: white;
            }

            img.hover-shadow {
                transition: 0.3s;
            }

            .hover-shadow:hover {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }

            #content .imgContent {
                position: relative;
                vertical-align: bottom;
            }

            #content a span {
                display: none;
                position: absolute;
                bottom: 0;
                left:0;
                width: 100%;
                height: auto;
                padding: 20px;
                padding-bottom: 40px;
                font-size: 1vw;
                background: rgba(255,255,255,.8);
                word-wrap: normal;
                
            }

            #content a:hover span {
                display: block
            }

            @media (max-width: 1200px) {
                #content {
                    -moz-column-count:    4;
                    -webkit-column-count: 4;
                    column-count:         4;
                }
            }
            @media (max-width: 1000px) {
                #content {
                    -moz-column-count:    3;
                    -webkit-column-count: 3;
                    column-count:         3;
                }
                .modal{
                    left: 0;
                    width: 100%;
                }
            }
            @media (max-width: 800px) {
                #content {
                    -moz-column-count:    2;
                    -webkit-column-count: 2;
                    column-count:         2;
                }
                .modal{
                    left: 0;
                    width: 100%;
                }
            }
            @media (max-width: 400px) {
                #content {
                    -moz-column-count:    1;
                    -webkit-column-count: 1;
                    column-count:         1;
                }
                .modal{
                    left: 0;
                    width: 100%;
                }
            }
            ol.flex-control-nav li:hover a, ol.flex-control-nav li a.flex-active {
                background-color: #383838;
            }
            ol.flex-control-nav li a {
                border: 1px solid #383838;
            }
            @media screen and (min-width:480px){
            #wowslider-container1 {
                height: 700px;
                }
            }
/* Airplanes */
* { box-sizing: border-box; }

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 33.333%;
}
@media (max-width: 575px) {
  .grid-sizer,
  .grid-item {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .grid-sizer,
  .grid-item {
    width: 50%;
  }
}

/* To change the amount of columns on larger devices, uncomment the code below */

@media (min-width: 768px) and (max-width: 991px) {
  .grid-sizer,
  .grid-item {
    width: 33.333%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .grid-sizer,
  .grid-item {
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .grid-sizer,
  .grid-item {
    width: 20%;
  }
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

ol.flex-control-nav li:hover a,
ol.flex-control-nav li a.flex-active {
    background-color: #383838;
}

ol.flex-control-nav li a {
    border: 1px solid #383838;
}

@media screen and (min-width:480px) {
    #wowslider-container1 {
        height: 700px;
    }
}
/*charity*/
#cf {
    position:relative;
    height:281px;
    width:450px;
    margin:0 auto;
  }
  section {
          margin: 2em;
      }
  #cf img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  #cf img.top:hover {
    opacity:0;
  }
  /* Three image containers (use 25% for four, and 50% for two, etc) */
  .column {
    float: left;
    width: 33%;
    padding: 5px;
  }
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }
   /*Carasoul Caption*/ 
   .carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  
}
/* .carousel-inner { padding-bottom:95px; }
.carousel-caption { bottom:-95px; } */
/*links color*/
/* unvisited link */
tbody a:link {
    color: blue;
  }
  
  /* visited link */
tbody a:visited {
    color:purple;
  }
  
  /* mouse over link */
   tbody a:hover {
    color: hotpink;
  } 
  
  /* selected link */
tbody a:active {
    color: blue;
  }
/* Roller Coaster */ 
.side-header #logo img {
    height: auto !important;
}

.side-header #logo img {
    height: auto !important;
}
.carousel-control-next-icon, 
.carousel-control-prev-icon{
    filter: invert(1);
} 
.carousel-control-prev,
.carousel-control-next{
    height: 50%;
}
.carousel-inner{
    width:700px;
    height: auto;
    margin: 0 auto;
}
#custCarousel{
    margin-top: 20px;
}

#custCarousel .carousel-indicators {
    position: static;
    margin-top: 20px;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;

}
#custCarousel .carousel-indicators>li {
    width: 100px;
    margin-bottom: 80px;

}
#custCarousel .carousel-indicators li img {
    display: block;
    max-width: 100%;  
}
#custCarousel .carousel-indicators li.active img {
    border: 2px solid grey;
}
.carousel-item img {
    width: 80%
}
@media screen and (max-width: 800px){
    .carousel-inner{
        width:450px;
        height: 650px;
        margin: 0 auto;
    }
}
ol.flex-control-nav li:hover a, ol.flex-control-nav li a.flex-active {
    background-color: #383838;
}
ol.flex-control-nav li a {
    border: 1px solid #383838;
}
@media screen and (min-width:480px){
#wowslider-container1 {
    height: 700px;
    }
}
